# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
rag_env/
venv/
.env/

# Data
data/

# FAISS index
faiss_index/

# Env file (API key)
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/